.footerContainer{
    margin-top:30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: rgb(183, 182, 182);
    font-family: Arial, Helvetica, sans-serif;

}
.footerListContainer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom:19px;
}
.footerItems{
    font-size:12px;
}
.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:12px;
  gap:5px;
  margin-bottom:50px;
}

@media only screen and (max-width:600px){
    .footerContainer{
        margin-top:30px;
    }
    .footerListContainer{
        margin-bottom:19px;
    }
    .footerItems{
        font-size:3px;
    }
    .copyright{
      font-size:3px;
      gap:5px;
      margin-bottom:50px;
    }
}