@font-face {
    font-family: "Billabong";
    src: url("/Billabong.ttf");
}

* {
    padding: 0;
    top: 0;
    margin: 0;
}

body {
    background-color: black;
}
.heading {
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: 'Billabong';
    color: white;

}

.titleBar {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.profilePic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.img {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("/images/profile1.png");
    background-size: cover;
    animation: animate 5s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes animate {


    0% {
        background-image: url("/images/profile1.png");
        border: 3.5px solid #9c9c9c;


    }

    40% {
        background-image: url("/images/profile3.png");
        border: 3.5px solid #ec0a63;

    }

    80% {
        background-image: url("/images/myprofile.jpg");
        border: 3.5px solid #10ed0f;
        

    }
    100% {
        background-image: url("/images/profile1.png");
        border: 3.5px solid #9c9c9c;

    }
}

.descriptionContainer {
    margin: 15px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-family: sans-serif;
}

.personalInfoContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.personalInfo {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 20px;
}

.contactBox {
    display: flex;
    gap: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.buttonBox {
    border-radius: 2px;
    margin-left: 2px;
    padding: 5px 10px;
    font-size: 13px;
    display: flex;
    gap: 5px;
    font-weight: 600;
    border-radius: 7px;
    background-color: rgb(54, 54, 54);
    cursor: pointer;
}

.buttonBox:hover {
    background-color: rgba(82, 81, 81, 0.485);
}

.technicalContainer {
    margin-top: 20px;
    justify-content: space-evenly;
}

.professional {
    display: flex;
    gap: 40px;
}

.aboutMe {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 100;
}

.aboutTitle {
    font-family: monospace;
    font-size: 20px;
    color: rgb(22, 148, 245);
    animation: textColor 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes textColor{
    0%{
        color:rgb(22, 148, 245);
    }
    25%{
        color:rgb(245, 182, 22);
    }

    50%{
        color:rgb(105, 105, 105);
    }
    
    90%{
        color:rgb(22, 148, 245);
    }
}

@media only screen and (max-width:600px){
    .heading {
        margin-top:30px;
        font-size: 35px;
    
    }
    
    .titleBar {
        padding: 10px;
        display: flex;
flex-direction: column;
    }
    
    .profilePic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    
    .img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-image: url("/images/profile1.png");
        background-size: cover;
    }
    .descriptionContainer {
        margin: 15px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-family: sans-serif;
    }
    .descriptionContainer p{
        font-size:12px;
    }
    
    .personalInfoContainer {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
    }
    
    .personalInfo {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
    
    .name {
        font-size: 20px;
    }
    
    .contactBox {
        display: flex;
        gap: 5px;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    .buttonBox {
        border-radius: 2px;
        margin-left: 2px;
        padding: 5px 10px;
        font-size:10px;
        display: flex;
        gap: 5px;
        font-weight: 500;
        border-radius: 7px;
        background-color: rgb(54, 54, 54);
        cursor: pointer;
    }
    
    .technicalContainer {
        margin-top: 20px;
        justify-content: space-evenly;
    }
    
    .professional {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    
    .aboutMe {
        margin-top: 20px;
        font-size: 15px;
        font-weight: 100;
    }
    
    .aboutTitle {
        font-family: monospace;
        font-size: 22px;
        color: rgb(22, 148, 245);
    }
}